<div class= "edit-container">
    <h2>Update Student</h2>   
    <form (ngSubmit)="post()">
      <label for="name">Name</label>
      <input id="name" [(ngModel)]="student.name" name="name" required />

      <label for="grade">Grade</label>
      <input id="grade" [(ngModel)]="student.grade" name="grade" required />
  
      <label for="email">Email</label>
      <input id="email" [(ngModel)]="student.email" name="email" required />

      <label for="address">Address</label>
      <input id="address" [(ngModel)]="student.address" name="address" required />
  
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" [(ngModel)]="student.phoneNumber" name="phoneNumber" required />
  
      <label for="faculty">Faculty</label>
      <input id="faculty" [(ngModel)]="student.faculty" name="faculty" required />
    
 
      <button type="submit">Save Changes</button>
      <button type="button" (click)="cancelUpdate()">Cancel</button>
    </form>
</div> 
