<div class="grid grid-cols-1 gap-6">
  <!-- Users List -->
  <div class="bg-white shadow-md rounded-lg p-6">
    <!-- Header Section -->
    <div class="flex justify-between items-center mb-6">
      <h2 class="font-semibold text-2xl text-gray-800">Books List</h2>
      <button 
        (click)="toggleAddComponent()" 
        class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 shadow">
        + Add New Book
      </button>
    </div>
    <!-- Table Section -->
    <div class="overflow-x-auto">
      <table class="w-full text-left text-gray-600 border-collapse">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="py-3 px-4 border-b-2">Sl No</th>
            <th class="py-3 px-4 border-b-2">ISBN</th>
            <th class="py-3 px-4 border-b-2">Title</th>
            <th class="py-3 px-4 border-b-2">Author</th>
            <th class="py-3 px-4 border-b-2">Genre</th>
            <th class="py-3 px-4 border-b-2">Price</th>
            <th class="py-3 px-4 border-b-2">Avl_Copies</th>
            <th class="py-3 px-4 border-b-2">Publisher</th>
            <th class="py-3 px-4 border-b-2">Published Year</th>
            <th class="py-3 px-4 border-b-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td class="py-3 px-4">{{ i + 1 }}</td>
            <td class="py-3 px-4">{{ book.isbn }}</td>
            <td class="py-3 px-4">{{ book.title }}</td>
            <td class="py-3 px-4">{{ book.author }}</td>
            <td class="py-3 px-4">{{ book.genre }}</td>
            <td class="py-3 px-4">{{ book.price }}</td>
            <td class="py-3 px-4">{{ book.availableCopies}}</td>
            <td class="py-3 px-4">{{ book.publisher }}</td>
            <td class="py-3 px-4">{{ book.publishedYear }}</td>
            <td class="py-3 px-4 flex gap-3">
              <button (click)="onEditBook(book)"
              class="bg-orange-300 text-white px-3 py-1 rounded hover:bg-orange-600 transition duration-150">   
                <i class="fa fa-edit"></i>
              </button>                        
              <button (click)="deleteBook(book.id)"
              class="bg-red-300 text-white px-3 py-1 rounded hover:bg-red-700 transition duration-150">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <div *ngIf="isAddComponentVisible" class="add-overlay">
      <app-add (closeForm)="toggleAddComponent()"></app-add>
  </div>

  <div *ngIf="isEditComponentVisible" class="edit-overlay">
    <app-edit [book]="selectedBook" (closeEdit)="closeEditComponent()"></app-edit>
  </div>
</div>
