<div class="grid grid-cols-1 gap-6">
  <!-- Users List -->
  <div class="bg-white shadow-md rounded-lg p-6">
    <!-- Header Section -->
    <div class="flex justify-between items-center mb-6">
      <h2 class="font-semibold text-2xl text-gray-800">Books List</h2>
      <button 
        (click)="toggleAddComponent()" 
        class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-600 transition duration-200 shadow">
        + Add New Book
      </button>
    </div>
    <!-- Table Section -->
    <div class="overflow-x-auto">
      <table class="w-full text-left text-gray-600 border-collapse">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th>Sl No</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Avl_Copies</th>
            <th>Publisher</th>
            <th>Published Year</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.availableCopies}}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.publishedYear }}</td>
            <td>
              <button (click)="onEditBook(book)">
                <i class="fa fa-edit"></i>
              </button>                        
              <button (click)="deleteBook(book.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <div *ngIf="isAddComponentVisible" class="add-overlay">
      <app-add (closeForm)="toggleAddComponent()"></app-add>
  </div>

  <div *ngIf="isEditComponentVisible" class="edit-overlay">
    <app-edit [book]="selectedBook" (closeEdit)="closeEditComponent()"></app-edit>
  </div>
</div>
