<div style="display: flex; height: 100vh;">
  <aside style="width: 250px; background-color: #1787f7; color: white; display: flex; flex-direction: column;">
    <div style="padding: 20px; background-color: #1787f7; text-align: center;">
      <h2 style="margin: 0; font-size: 20px;">Library Management System</h2>
    </div>
    <ul style="list-style-type: none; padding: 0; margin: 0; flex-grow: 1;">
      <li class="active" style="padding: 15px 20px;" class="menu-item">
        <a href="dashboard" class="menu-link">Dashboard</a>
      </li>
    <li style="padding: 15px 20px; position: relative;" class="menu-item">
        <a href="books/view" class="menu-link">Books</a>
      </li>
      <li style="padding: 15px 20px;" class="menu-item">
        <a href="user/userlist" class="menu-link">Users</a>
      </li>
      <li style="padding: 15px 20px;" class="menu-item">
        <a href="#" class="menu-link">Booking</a>
      </li>
    </ul>
  </aside>

  <div style="flex-grow: 2; background-color: #ecf0f1; display: flex; flex-direction: column;">
    <app-navbar class="z-10"></app-navbar>
    <div style="padding: 20px;">
      <div class="dashboard">
        <div class="stats">
          <div class="stat-box">Total books<br><strong>{{ totalBooks }}</strong></div>
          <div class="stat-box">Borrowed books<br><strong>0</strong></div>
          <div class="stat-box">Overdue<br><strong>0</strong></div>
          <div class="stat-box">Members<br><strong>0</strong></div>
        </div>
      </div>      
</div>
      <!-- <div class="kpi-section">
        <div class="kpi">Borrowed: <strong>0</strong></div>
        <div class="kpi">Returned: <strong>0</strong></div>
      </div> -->
</div>
    
</div>

