<div class= "edit-container" style="padding: 20px;">
  <form #bookForm="ngForm" (ngSubmit)="updateBook()" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px;">
    <div>
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" [(ngModel)]="book.isbn" name="isbn" required #isbn="ngModel" disabled>
      <div *ngIf="isbn.invalid && isbn.touched" style="color: red; font-size: 12px;">
        ISBN is required.
      </div>
    </div>
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="book.title" name="title" required #title="ngModel" disabled>
      <div *ngIf="title.invalid && title.touched" style="color: red; font-size: 12px;">
        Title is required.
      </div>
    </div>
    <div>
      <label for="author">Author:</label>
      <input type="text" id="author" [(ngModel)]="book.author" name="author" required #author="ngModel" disabled>
      <div *ngIf="author.invalid && author.touched" style="color: red; font-size: 12px;">
        Author is required.
      </div>
    </div>
    <div>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" [(ngModel)]="book.genre" name="genre" required #genre="ngModel" disabled>
      <div *ngIf="genre.invalid && genre.touched" style="color: red; font-size: 12px;">
        Genre is required.
      </div>
    </div>
    <div>
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="book.price" name="price" required #price="ngModel" disabled>
      <div *ngIf="price.invalid && price.touched" style="color: red; font-size: 12px;">
        Price is required.
      </div>
    </div>
    <div>
      <label for="price">Available Copies:</label>
      <input type="number" id="availableCopies" [(ngModel)]="book.availableCopies" name="availableCopies" required #availableCopies="ngModel">
      <div *ngIf="availableCopies.invalid && availableCopies.touched" style="color: red; font-size: 12px;">
        AvailableCopies is required.
      </div>
    </div>
    <div>
      <label for="publisher">Publisher:</label>
      <input type="text" id="publisher" [(ngModel)]="book.publisher" name="publisher" required #publisher="ngModel" disabled>
      <div *ngIf="publisher.invalid && publisher.touched" style="color: red; font-size: 12px;">
        Publisher is required.
      </div>
    </div>
    <div>
      <label for="publishedYear">Published Year:</label>
      <input type="number" id="publishedYear" [(ngModel)]="book.publishedYear" name="publishedYear" required #publishedYear="ngModel" disabled>
      <div *ngIf="publishedYear.invalid && publishedYear.touched" style="color: red; font-size: 12px;">
        Published Year is required.
      </div>
    </div>

    <div style="grid-column: span 2; display: flex; justify-content: flex-start; gap: 10px; margin-top: 20px;">
      <button type="submit" style="flex: 1; padding: 10px 20px; background-color: #1787f7; color: white; border: none; cursor: pointer; font-size: 16px;">
        Update
      </button>
      <button type="button" (click)="cancelEdit()" style="flex: 1; padding: 10px 20px; background-color: #989a9c; color: white; border: none; cursor: pointer; font-size: 16px;">
        Cancel
      </button>
</div>
